<div class="container" style="padding-top:32px">
               <div class="row">
                    <div class="col-sm-6 col-md-6">
                         <div class="signin">
                              <div class="social_sign">
                                   <h3>使用你的社交网络账号登录</h3>
                                   <a class="fb" href="#wechat" title="微信登录"><i class="fa fa-wechat"></i></a>  <a class="gp" href="#weibo" title="微博登录"><i class="fa fa-weibo"></i></a> </div>
                              <div class="or">
                                   <div class="or_l"></div>
                                   <span>或者</span>
                                   <div class="or_r"></div>
                              </div>
                              <p class="sign_title">使用你的THREDU账号登录</p>
                              <div class="row">
                                   <div class="col-lg-2"></div>
                                   <div class="form col-lg-8">
                                        <form>
                                             <input placeholder="电子邮件" class="form-control" type="text" ng-model="signUser.email">
                                             <input placeholder="密码" class="form-control" type="password" ng-model="signUser.password">
                                             <div class="forgot">
                                                  <div class="checkbox">
                                                       <label class="">
                                                            <input type="checkbox">
                                                            记住我 </label>
                                                  </div>
                                                  <a href="#">忘记密码?</a> </div>
                                             <button class="btn btn-primary btn-lg" ng-click="signin()">登录</button>
                                        </form>
                                   </div>
                                   <div class="col-lg-2"></div>
                              </div>
                         </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                         <div class="signup">
                              <form novalidate>
                                   <fieldset>
                                        <div class="social_sign">
                                             <h3>还没有THREDU账号?</h3>
                                             <a><i class="fa fa-user"></i></a> </div>
                                        <p class="sign_title">免费创建账号!</p>
                                        <div class="row">
                                             <div class="col-lg-2"></div>
                                             <div class="col-lg-8">
                                                  <input id="Username" name="Username" placeholder="昵称" ng-model="user.nickname" class="form-control" required="" type="text">
                                                  <input id="Emailaddress" name="Email address" placeholder="电子邮件" ng-model="user.email" class="form-control" required="" type="text">
                                                  <input id="Password" name="Password" placeholder="密码" ng-model="user.password" class="form-control" required="" type="password">
                                                  <div class="checkbox">
                                                       <label class="">
                                                            <input name="agree" value="agree" ng-model="user.agree" type="checkbox">
                                                            我同意 <a style="cursor:pointer;" ng-click="alert()">用户使用条款</a> </label>
                                                  </div>
                                             </div>
                                             <div class="col-lg-2"></div>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-lg" ng-click="register()" ng-disable="!user ||!user.agree">创建账号</button>
                                   </fieldset>
                              </form>
                         </div>
                    </div>
               </div>
          <div class="container">
     </div></div>